@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* colors */
:root {
    --bg: hsl(210, 46%, 95%);
    --grayish-blue: hsl(212, 23%, 69%);
    --headings: hsl(217, 19%, 35%);
    --text: hsl(214, 17%, 51%);
}

/* typography */

body {
    font-size: 13px;
    font-family: "Manrope", sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2rem;
    color: var(--headings);
}

h2 {
    color: var(--headings);
}

p {
    font-size: 1.5rem;
    color: var(--text);
}
button {
    border: none;
    cursor: pointer;
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg);
}

/* article card  */

.card {
    display: flex;
    max-width: 1200px;
    background-color: white;
    padding: 0;
    border-radius: 1rem;
    box-shadow: 6px 6px 20px hsla(0, 0%, 0%, 0.1);
}

.imgleft {
    min-width: 35%;
    min-height: 400px;
    background: url(images/drawers.jpg) left/cover no-repeat;
    border-radius: 1rem 0 0 1rem;
}


.content {
    padding: 2rem 3rem;
}

.content p {
    margin-bottom: 2rem;
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

.author {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.author .img-writer {
    width: 5em;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.author-info p {
    margin: 10px 0rem 0rem;
    font-size: 1rem;
}
.author-info h2 {
    margin: 0;
}

.share {
    position: relative;
}

.share-button {
    background-color: var(--bg);
    padding: 1em;
    border-radius: 50%;
    color: var(--headings);
    font-size: 1.5em;
    transition: all 0.25s ease;
}

.share-button:hover, .share-button:active {
    color: var(--bg);
    background-color: var(--headings);
}

.share-options {

    /* --scale: 0;
    --translateX: -50%;
    --translateY: 0; */

    position: absolute;
    bottom: 100px;
    left: -100%;
    background-color: var(--headings);
    display: flex;
    align-items: center;
    gap: 1.5em;
    border-radius: 10px;
    padding: 1.5rem 3.5rem;
    font-size: 20px;
    color: var(--bg);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.share-options.active {
    visibility: visible;
    opacity: 1;
    left: -200%;
    transition: all 0.5s ease, visibility 0s linear 0s;
}

.share-options span {
    color: var(--bg);
    font-size: 14px;
    letter-spacing: 5px;
}

.share-options img {
    cursor: pointer;
    height: 1.5rem;
}

/* RESPONSIVENESS */

@media screen and (max-width: 768px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .imgleft {
        border-radius: 1rem 1rem 0rem 0rem;
    }

    .share-options {
        position: absolute;
        /* left: -300px; */
        /* bottom: 100px; */
        display: flex;
        justify-content: center;
        margin: 0 auto;
        opacity: 1;
    }

    .share-options.active {
        position: static;
        position: -200px;
        bottom: 20px;
        scale: 1.5;
        z-index: 999;
    }

}